/* general styles for the project docs. */

.project-doc-container {
    img, video {
        margin-top: 1em;
    }

    .notCollapsed {
        img.align-with-h3, video.align-with-h3 {
            margin-top: 3.5em;
        }
    }

    .collapsed {
        img.align-with-h3, video.align-with-h3 {
            margin-top: 0;
     
        }
    }
}

.project-title {
    display: inline-block;
    margin: 5px 0 10px 0;
}

.project-year {
    display: inline-block;
    font-size: var(--font-size-sm);
}
