.education-quote {
    display: inline-block;
    width: 100%;

    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    text-wrap: balance;

    margin-bottom: 1em;
}

.course-container {
    padding: 0 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    column-gap: 10px;
    row-gap: 15px;

    overflow: hidden;
}

.course-item {
    list-style-position: inside;
}

.icon-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    margin: 1em 0 0 1em;
}

.content {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
    
    svg {
        width: 2em;
        fill: black;
    }

    > :not(svg) {
        flex: 1;
    }
}

#education-section p:first-of-type {
    margin-block-start: 0;
}