.education-quote {
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}

.course-container {
    background-color: yellow;
    padding: 10px;
}

.course-item {
    background-color: red;
}
