.education-quote {
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    text-wrap: balance;

    margin-bottom: 0.5em;
}

.course-container {
    padding: 0 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    column-gap: 10px;
    row-gap: 15px;

    overflow: hidden;
}

.course-item {
    list-style-position: inside;
}
