$primary-color: #4CAF50;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-darkest: darken($primary-color, 20%);

$sm-screen-width: 480px;
$md-screen-width: 768px;
$lg-screen-width: 1200px;

$foreground-index: 999;
