#app {
    --clr-primary: #4CAF50;
    --clr-primary-dark: #3d8b40;
    --clr-primary-darkest: #2d682f;

    --clr-secondary: tomato;
    --clr-secondary-dark: #ff3814;
    --clr-secondary-darkest: #e02200;

    --clr-light: #f9f4ea;

    --font-clr-light: var(--clr-light);
    --font-clr-dark: black;

    --font-size-sm: 13px;

    --screen-width-sm: 480px;
    --screen-width-md: 768px;
    --screen-width-lg: 1200px;

    --index-foreground: 999;
}
