/******* Colors **********/

$primary-color: #4CAF50;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-darkest: darken($primary-color, 20%);

$secondary-color: tomato;
$secondary-color-dark: darken($secondary-color, 10%);

$light-color: #f9f4ea;

/********* Fonts *********/
$sm-font-size: 13px;
$md-font-size: 16px;

$font-color-dark: black;
$font-color-light: $light-color;

/********* Media queries ***********/
$sm-screen-width: 480px;
$md-screen-width: 768px;
$lg-screen-width: 1200px;


/********** Z indices **************/
$foreground-index: 999;
