#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
/* Removes the default margin from vue */
body { 
    margin: 0;
}

h1 {
    border-left: 5px solid;
    padding-left: 10px;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

input[type="text"], input[type="email"], textarea {
    @extend %border-sm;

    font-size: 16px;
    padding: 5px 10px;

    height: 40px;
}

input[type="checkbox"] {
    cursor: pointer;
}

textarea {
    height: 200px;
    padding-top: 15px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.hidden {
    display: none !important;
}
